{% extends "blog/base.html" %}
{% block content %}
    <h1>BLOG POST</h1>
    <article class="media content-section">
      <img src="{{ object.author.profile.image.url }}" alt="" class="rounded-circle article-img">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|date:"d-F-Y" }}</small>
          <div>
            {% if object.author == user %}
            <a href="{% url 'post-delete' object.id %}" class="btn btn-outline-danger">Delete Post</a>
            <a href="{% url 'post-update' object.id %}" class="btn btn-outline-secondary">Update Post</a>
            {% endif %}
          </div>
          </div>
          <h2 class="article-title">{{ object.title }}</h2>
          <p class="article-content">{{ object.content }}</p>
        </div>
      </article>

{% endblock content %}
